@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
:root {
  /* ====== HEADER-HEIGHT ====== */
  --header-height: 7rem;
  /* ====== COLORS ====== */
  --primary-colors: hsl(174, 26%, 28%);
  --secondary-color: hsl(195, 31%, 49%);
  --neutral-color: hsl(0, 0%, 48%);
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);
  --featured_wrapper_bg: hsl(137, 16%, 31%, 0.08);
  --fade_bg_1: hsl(192, 72%, 72%);
  --fade_bg_2: hsl(137, 52%, 76%);
  /* ====== FONT-WEIGHT ====== */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  /* ====== FONT-SIZE ====== */
  --heading-font-size: 3rem;
  --logo-font-size: 2rem;
  --subtext-md: 1.55rem;
  --subtext-sm: 1.35rem;
}


@media screen and (min-width: 991px) {
  :root {
    --heading-font-size: 4.5rem;
    --logo-font-size: 2.5rem;
    --subtext-md: 1.88rem;
    --subtext-sm: 1.65rem;
    --badge-font-size: 1.25rem;
    --nav_links_font-size: 1.75rem;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* ===== 1rem = 10px (RESPONSIVE FONT SIZE) ===== */
html {
  font-size: 62.5%;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
}

/*  ===== WIDTH OF SCROLLBAR =====  */
::-webkit-scrollbar {
  width: 7px;
}

/*  ===== BACKGROUND-TRACK  =====  */
::-webkit-scrollbar-track {
  background-color: var(--black-color);
}

/* =====  HANDLE  ===== */
::-webkit-scrollbar-thumb {
  background-color: var(--primary-colors);
}

/* =====  HANDLE-ON-HOVER ===== */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-color);
}

/* ===== 'stop_scroll' class ADDED ON BODY TO PREVENT SCROLLING OF THE PAGE WHEN THE NAV MENU IS ACTIVE.  ===== */
.stop_scroll {
  overflow-y: hidden;
}

/* ===== CONTAINER ===== */
.container {
  max-width: 120em;
  margin: 0 auto;
  padding: 0 2rem;
}

/* ===== HEADER ===== */
.header {
  height: var(--header-height);
}
.header .navbar {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .navbar .logo a {
  text-transform: uppercase;
  font-size: var(--logo-font-size);
  font-weight: var(--fw-600);
  color: var(--black-color);
  letter-spacing: 1px;
}
.header .navbar .logo a span {
  color: var(--primary-colors);
}

/* ===== NAV-MENU-LIST ===== */
.nav__menu_list {
  display: flex;
  align-items: center;
  column-gap: 3.3333rem;
  /* ===== NAV-MENU-LIST-ITEM ===== */
  /* ===== LOGIN-BTN ===== */
}
.nav__menu_list .nav_menu_list_item {
  display: inline-block;
  /* ===== NAV-LINK ===== */
}
.nav__menu_list .nav_menu_list_item .nav__link {
  text-transform: capitalize;
  letter-spacing: 0.35px;
  font-size: var(--nav_links_font-size);
  font-weight: var(--fw-400);
  color: var(--neutral-color);
  position: relative;
  padding-bottom: 0.45rem;
}
.nav__menu_list .nav_menu_list_item .nav__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: var(--primary-colors);
  transition: width 0.5s ease;
}
.nav__menu_list .nav_menu_list_item .nav__link:hover, .nav__menu_list .nav_menu_list_item .nav__link:hover::before {
  width: 100%;
  color: var(--primary-colors);
}
.nav__menu_list .nav_menu_list_item .nav__link.active {
  color: var(--primary-colors);
  font-weight: var(--fw-600);
}
.nav__menu_list .login__btn {
  background-color: var(--secondary-color);
  opacity: 0.9;
  padding: 0.65rem 3rem;
  font-size: 1.75rem;
  text-transform: capitalize;
  color: var(--white-color);
  font-weight: var(--fw-400);
  transition: transform 0.25s ease;
  border-radius: 2rem;
}
.nav__menu_list .login__btn:hover {
  transform: translateY(-0.25rem);
}

/* ===== MOBILE FIRST NAV MENU ===== */
@media screen and (max-width: 991px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    z-index: 999;
    background-color: var(--black-color);
    padding: 0 5rem;
    opacity: 0;
    transition: all 0.5s ease;
  }
  .nav__menu .nav__menu_list {
    flex-direction: column;
    align-items: start;
    row-gap: 5rem;
    margin-top: 7rem;
  }
  .nav__menu .nav__menu_list .nav__link {
    font-size: 1.9rem;
    font-weight: var(--fw-500);
    color: #eee;
  }
  .nav__menu .nav__menu_list .nav__link.active {
    color: var(--secondary-color);
  }
  .nav__menu .nav__menu_list .nav__link:hover {
    color: var(--secondary-color);
  }
}
/* ===== SHOW-the-NAV-MENU ===== */
.show {
  right: 0;
  opacity: 1;
}


.polygon_element {
  position: absolute;
  z-index: -1;
  max-width: 60%;
  
}
.polygon_element.element--1 {
  left: 0;
  transform: translate(-10rem, -10rem);
}

h2{
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: "Inter", sans-serif;
    color: var(--secondary-color);
    font-size:xx-large;
    text-align: center;
  }

.lessons{
    margin-top: 50px;
    margin-left: 250px;
    background-color: white;
    border-radius: 10px;
    width:60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    font-family: "Inter", sans-serif;
    font-weight: var(--fw-600);
    
}
.title-lesson{
  font-size: 2rem;
  color: var(--black-color);
  font-family: "Inter", sans-serif;
  margin-left: 20px;

}
.title-lesson span {
  color: var(--secondary-color);
}
.lessons:hover {
  transform: scale(1.025);
}