/* GOOGLE FONTS(INTER, WITH FONT WEIGHT => 300,400,500,600,700) */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

:root {
  /* HEADER-HEIGHT */
  --header-height: 7rem;
  /* COLORS */
  --primary-colors: hsl(180, 36%, 44%);
  --secondary-color: hsl(195, 31%, 49%);
  --neutral-color: hsl(0, 2%, 62%);
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);
  --featured_wrapper_bg: hsl(137, 16%, 31%, 0.08);
  --fade_bg_1: hsl(192, 72%, 72%);
  --fade_bg_2: hsl(137, 52%, 76%);
  /* FONT-WEIGHT */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  /* FONT-SIZE */
  --heading-font-size: 3rem;
  --logo-font-size: 2rem;
  --subtext-md: 1.55rem;
  --subtext-sm: 1.35rem;
}

/* RESPONSIVE CSS VARIABLES FONT-SIZE */
@media screen and (min-width: 991px) {
  :root {
    --heading-font-size: 4.5rem;
    --logo-font-size: 2.5rem;
    --subtext-md: 1.88rem;
    --subtext-sm: 1.65rem;
    --badge-font-size: 1.25rem;
    --nav_links_font-size: 1.75rem;
  }
}

/* ROOT RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* HTML RESET */
/* 1rem = 10px (RESPONSIVE FONT SIZE) */
html {
  font-size: 62.5%;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
}

/* CUSTOM SCROLLBAR CSS */

/* WIDTH OF SCROLLBAR */
::-webkit-scrollbar {
  width: 7px;
}

/* BACKGROUND-TRACK */
::-webkit-scrollbar-track {
  background-color: var(--black-color);
}

/* HANDLE */
::-webkit-scrollbar-thumb {
  background-color: var(--primary-colors);
}

/* HANDLE-ON-HOVER */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-color);
}

/* 'stop_scroll' class ADDED ON BODY TO PREVENT SCROLLING OF THE PAGE WHEN THE NAV MENU IS ACTIVE. */
.stop_scroll {
  overflow-y: hidden;
}

/* CONTAINER */
.container {
  max-width: 130em;
  margin: 0 auto;
  padding: 0 2rem;
}

/* HEADER */
.header {
  height: var(--header-height);
}

/* HEADER .navbar */
.header .navbar {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* HEADER .navbar .logo a */
.header .navbar .logo a {
  text-transform: uppercase;
  font-size: var(--logo-font-size);
  font-weight: var(--fw-600);
  color: var(--black-color);
  letter-spacing: 1px;
}

/* HEADER .navbar .logo a span */
.header .navbar .logo a span {
  color: var(--primary-colors);
}

/* NAV-MENU-LIST */
.nav__menu_list {
  display: flex;
  align-items: center;
  column-gap: 3.3333rem;
}

/* NAV-MENU-LIST .nav_menu_list_item */
.nav__menu_list .nav_menu_list_item {
  display: inline-block;
}

/* NAV-MENU-LIST .nav_menu_list_item .nav__link */
.nav__menu_list .nav_menu_list_item .nav__link {
  text-transform: capitalize;
  letter-spacing: 0.35px;
  font-size: var(--nav_links_font-size);
  font-weight: var(--fw-400);
  color: var(--neutral-color);
  position: relative;
  padding-bottom: 0.45rem;
}

/* NAV-MENU-LIST .nav_menu_list_item .nav__link::before */
.nav__menu_list .nav_menu_list_item .nav__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: var(--primary-colors);
  transition: width 0.5s ease;
}

/* NAV-MENU-LIST .nav_menu_list_item .nav__link:hover, NAV-MENU-LIST .nav_menu_list_item .nav__link:hover::before */
.nav__menu_list .nav_menu_list_item .nav__link:hover,
.nav__menu_list .nav_menu_list_item .nav__link:hover::before {
  width: 100%;
  color: var(--primary-colors);
}

/* NAV-MENU-LIST .nav_menu_list_item .nav__link.active */
.nav__menu_list .nav_menu_list_item .nav__link.active {
  color: var(--primary-colors);
  font-weight: var(--fw-600);
}

/* MOBILE FIRST NAV MENU */
@media screen and (max-width: 991px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    z-index: 999;
    background-color: var(--black-color);
    padding: 0 5rem;
    opacity: 0;
    transition: all 0.5s ease;
  }

  .nav__menu .nav__menu_list {
    flex-direction: column;
    align-items: start;
    row-gap: 5rem;
    margin-top: 7rem;
  }

  .nav__menu .nav__menu_list .nav__link {
    font-size: 1.9rem;
    font-weight: var(--fw-500);
    color: #eee;
  }

  .nav__menu .nav__menu_list .nav__link.active {
    color: var(--secondary-color);
  }

  .nav__menu .nav__menu_list .nav__link:hover {
    color: var(--secondary-color);
  }
}

/* SHOW-the-NAV-MENU */
.show {
  right: 0;
  opacity: 1;
}

/* HERO */
.hero {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  text-align: center;
  position: relative;
  row-gap: 5rem;
}

/* HERO .hero__info_wrapper */
.hero .hero__info_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 2rem;
}

/* HERO .direction_arrow */
.hero .direction_arrow {
  display: none;
}

/* HERO .polygon_element */
.polygon_element {
  position: absolute;
  z-index: -1;
  max-width: 60%;
}

/* HERO .polygon_element.element--1 */
.polygon_element.element--1 {
  left: 0;
  position:absolute;
  /* transform: translate(-10rem, -10rem); */
}

/* HERO-INFO */
.hero__info {
  /* HERO-HEADING */
  .hero__heading {
    font-size: 3rem;
    color: var(--black-color);
  }

  /* HERO-HEADING span */
  .hero__heading span {
    color: var(--primary-colors);
  }

  /* HERO-SUBTEXT */
  .hero_subtext {
    font-size: 1.55rem;
    color: var(--neutral-color);
    font-weight: var(--fw-400);
    margin-top: 3rem;
  }
}

/* HERO-CTA-BTN */
.hero__cta_btn {
  background-color: hsla(0, 0, 100%, 0.829);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  padding: 0.88rem 1rem;
  width: fit-content;
  font-size: 1.25rem;
  font-weight: var(--fw-500);
  text-transform: capitalize;
  border-radius: 2.2rem;
  box-shadow: 4px 4px 14px 1px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease;
  color: var(--neutral-color);
}

/* HERO-CTA-BTN span */
.hero__cta_btn span {
  font-weight: var(--fw-600);
  color: var(--black-color);
}

/* HERO-CTA-BTN:hover */
.hero__cta_btn:hover {
  transform: scale(1.025);
}

/* HERO-IMAGE-WRAPPER */
.hero__img_wrapper {
  justify-self: center;
  position: relative;
}

/* HERO-IMAGE-WRAPPER img */
.hero__img_wrapper img {
  max-width: 70%;
}

/* HERO-IMAGE-WRAPPER .fade__bg */
.hero__img_wrapper .fade__bg {
  position: absolute;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  z-index: -1;
  filter: blur(8rem);
}

/* HERO-IMAGE-WRAPPER .fade__bg.fade--bg-1 */
.hero__img_wrapper .fade__bg.fade--bg-1 {
  bottom: 0;
  left: 0;
  background-color: var(--fade_bg_1);
}

/* HERO-IMAGE-WRAPPER .fade__bg.fade--bg-2 */
.hero__img_wrapper .fade__bg.fade--bg-2 {
  top: 0;
  right: 0;
  background-color: var(--fade_bg_2);
}

/* FEATURED-SECTION */
.featured_section {
  padding: 1.5rem;
  background-color: var(--featured_wrapper_bg);
  border-radius: 0;
  margin-top: 10rem;
}

/* FEATURED-SECTION .featured_brand_img */
.featured_section .featured_brand_img {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  text-align: center;
  justify-items: center;
  align-items: center;
}

/* FEATURED-SECTION .featured_brand_img img */
.featured_section .featured_brand_img img {
  width: 7rem;
  display: inline-block;
  align-self: center;
  justify-self: center;
}

/* FEATURES SECTION */
.features_section {
  margin: 12rem 0;
  position: relative;
}

/* FEATURES SECTION .features_cards */
.features_section .features_cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 10rem;
}

/* FEATURES SECTION .features_cards .features_card */
.features_section .features_cards .features_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 2rem;
}

/* FEATURES SECTION .features_cards .features_card img */
.features_section .features_cards .features_card img {
  height: 12rem;
  object-fit: cover;
}

/* FEATURES SECTION .features_cards .features_card h4 */
.features_section .features_cards .features_card h4 {
  font-size: 1.88rem;
}

/* FEATURES SECTION .features_cards .features_card p */
.features_section .features_cards .features_card p {
  font-size: 1.65rem;
  font-weight: var(--fw-400);
  line-height: 1.45;
  color: var(--neutral-color);
  width: 70%;
}

/* POLYGON-ELEMENT-2 */
.polygon_element.element--2 {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(0rem) translateY(-5rem);
  z-index: -1;
}

/* RESPONSIVE MEDIA QUERIES */
@media screen and (min-width: 991px) {
  .navbar .nav_toggle_btn {
    display: none;
  }

  .hero {
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    column-gap: 1rem;
    text-align: start;
  }

  .hero .hero__info_wrapper {
    display: flex;
    align-items: start;
    flex-direction: column;
    row-gap: 4rem;
  }

  .hero .direction_arrow {
    position: absolute;
    left: 50%;
    display: block;
  }

  .hero__info .hero__heading {
    font-size: var(--heading-font-size);
    line-height: 1.125;
  }

  .hero__info .hero_subtext {
    font-size: var(--subtext-md);
    width: 65%;
    line-height: 1.5;
  }

  .hero__cta_btn {
    padding: 1rem 2rem;
    font-size: 1.45rem;
  }

  .hero__img_wrapper {
    justify-self: end;
  }

  .hero__img_wrapper img {
    z-index: 999;
    max-width: 100%;
  }

  .featured_section {
    border-radius: 2rem;
    padding: 1rem;
  }

  .featured_section .featured_brand_img {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .featured_section .featured_brand_img img {
    width: 12rem;
    object-fit: cover;
  }

  .features_section {
    margin: 10rem 0;
  }

  .features_section .features_card {
    column-gap: 1rem;
  }
}

/* FOOTER-LINE */
.footer_line {
  background-color: var(--secondary-color);
  width: 100%;
  height: 3.8rem;
  align-items: center;
  font-size: 15px;
  text-align: center;
font-weight: bold;
margin-top: 30px;
}
